In [11]:
import os

os.getcwd()

'E:\\code\\2.DataAnalysisOfficial'

In [12]:
os.chdir("E:/code/2.DataAnalysisOfficial/data")

In [13]:
os.getcwd()

'E:\\code\\2.DataAnalysisOfficial\\data'

In [1]:
import numpy as np

In [4]:
a = np.array([0,2,4,6,8,10])
a

array([ 0,  2,  4,  6,  8, 10])

In [5]:
np.arange(0,11,2)

array([ 0,  2,  4,  6,  8, 10])

In [16]:
import pandas as pd

df  = pd.read_csv("iris.csv")
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [20]:
nd = df.values

In [21]:
type(nd)

numpy.ndarray

In [22]:
nd.shape

(150, 5)

In [31]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [32]:
X = df[df.columns[:-1]]

In [33]:
X = X.values

In [35]:
X.shape

(150, 4)